<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355680672439-mmd6ben3md2p7el3mteitg1s1nuuan3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355680672439-mmd6ben3md2p7el3mteitg1s1nuuan3l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>355680672439-3e23milirg57tqbglbo5iiuj37sngn51.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC30ddp5l-3SBHD7yGFRmlN-sdC7qlsmdc</string>
	<key>GCM_SENDER_ID</key>
	<string>355680672439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelyApp</string>
	<key>PROJECT_ID</key>
	<string>testdatabase-b2a97</string>
	<key>STORAGE_BUCKET</key>
	<string>testdatabase-b2a97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355680672439:ios:60f7cbbf8628fc80864b32</string>
</dict>
</plist>